# Virtual environment
.venv/

# uv directories
.uv/

# Environment variables
.env
.env.local
.env.*.local

# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/
.DS_Store
